.main
  section.container
    .row.text-center
      h1.f-dancing Chat App
    .row.text-center.login
      button.btn.btn-login.mr-b-10(ng-click="main.loginWithFacebook()")
        i.fa.fa-facebook-square.mr-10
        | Login with Facebook
    .row.text-center
      | Copyright © 2016 by Hai Pham
