@import "../app.less";

.main {
  .divider {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
  }

  .login-block {
    margin-top: 10rem;
  }

  .copy-block {
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 0;
    background-color: #eee;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
  }

  .mr-b-10 {
    margin-bottom: 10px;
  }

  .btn-login {
    border-radius: 2px;
    width: 200px;
    text-align: left;

    i {
      font-size: 1.2em;
      margin-right: 10px;
    }
  }

  .btn-blue {
    background-color: @blue-md;
    color: @white;

    &:hover, &:active {
      background-color: darken(@blue-md, 10%);
    }
  }

  .btn-red {
    background-color: @grey;
    color: @white;

    &:hover, &:active {
      background-color: @grey;
    }
  }
}
