@import "../app.less";

.chat {

  .divider {
    border-bottom: 1px solid @white;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  &-menu {
    height: 100%;
    background-color: #eee;
    position: absolute;
    width: 40px;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;

    @media(min-width: @screen-sm) {
      width: 240px;
    }

    .online-users {
      padding-top: 10px;
      margin-top: 10px;
      border-top: 1px solid @white;

      a {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .img-avatar {
        border-radius: 50%;
        width: 24px;
        margin-right: 5px;
      }
    }


    .img-box {
      margin-top: 20px;
      margin-bottom: 20px;
      border-radius: 50%;
      width: 50%;
      border: 1px solid @dark-grey;
    }

    a {
      color: @blue-md;

      &:hover, &:focus, &:active {
        color: darken(@blue-md, 10%);
      }
    }

    .nick-editor {
      padding-left: 10px;
      padding-right: 10px;
      color: @blue-md;
    }
  }

  &-container {
    margin-left: 40px;

    @media(min-width: @screen-sm) {
      margin-left: 240px;
    }
  }

  &-content {
    height: 90%;
    display: block;
    overflow-x: scroll;
    position: absolute;

    p {
      border-top: 1px solid @grey;
      margin-bottom: 5px;
      padding-top: 5px;
    }

    .nick-name {
      text-align: left;
      font-size: .7em;
      font-weight: 600;
      color: @black;
      margin-right: 5px;
    }

    .created-at {
      text-align: left;
      font-size: .6em;
      color: darken(@grey, 50%);
    }

    .content {
      display: block;
    }

    img {
      max-width: 300px;
    }

    .is-edited {
      .created-at();
      font-style: italic;
    }
  }

  &-input {
    position: absolute;
    bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .input-blue {
    border-color: @blue-md;
    color: @blue-md;

    &:hover, &:focus, &:active {
      border-color: @blue-md;
    }
  }

  .btn-blue {
    border-color: @blue-md;
    color: @blue-md;

    &:hover, &:focus, &:active {
      background-color: @blue-md;
      color: @white;
    }
  }

  .mr-l-5 {
    margin-left: 5px;
  }

  .hidden-xs {
    @media(max-width: @screen-sm) {
      display: none;
    }
  }
}
