.chat
  section.chat-menu
    .row
      .col.text-center
        img.img-box(ng-src="{{chat.user.picture}}")
      a.hidden-xs.btn.btn-block.col(ng-click="chat.nickName = chat.user.nickName" ng-show="!chat.nickName")
        | {{chat.user.nickName}}
        i.fa.fa-pencil.mr-l-5
      form.hidden-xs.col.nick-editor.input-group(ng-show="chat.nickName" ng-submit="chat.saveNick()")
        input.form-control.input-blue(type="text" ng-model="chat.nickName")
        span.input-group-btn
          button.btn.btn-blue(type="submit")
            i.fa.fa-floppy-o
      a.col.btn-block.btn(ng-click="chat.logout()")
        span.hidden-xs Logout
        i.fa.fa-sign-out.mr-l-5
      .online-users
        a.col.btn-block.btn.btn-user(ng-repeat="u in chat.usersOnline")
          img.img-avatar(ng-src="{{u.profile.picture}}")
          span.hidden-xs {{u.profile.nickName}}
  section.chat-container
    .chat-content(ng-scroll-bottom="chat.messages")
      p(ng-repeat="msg in chat.messages")
        span.nick-name {{msg.nickName}}
        span.created-at {{msg.createdAt | date:'MM-dd HH:mm:ss'}}
        a.btn.btn-edit-msg(ng-if="msg.owner === currentUser._id" ng-click="chat.editMsg(msg)")
          i.fa.fa-pencil
        span.is-edited(ng-if="msg.isEdited")
          | - Edited
        span.content(ng-bind-html="chat.parseHtml(msg.content)")
    .chat-input
      form.input-group(ng-submit="chat.saveMsg()")
        input.form-control.input-blue(type="text" ng-model="chat.msg.content")
        span.input-group-btn
          button.btn.btn-blue(type="submit")
            i.fa.fa-paper-plane
